// Main Sass File
html, body {
    height: 100%;
}

.sidebar {
    height: 100%;
    width: 20%;
    background: #3498db;
    color: white;
    position: fixed!important;
    z-index: 1;
    box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    overflow: auto
}

h3.bar-item {
    font-size: 30px;
    background: #3444db;
}

.barbutton {
    border: none;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    font-size: 20px;
    cursor: pointer;
    white-space: nowrap
}

.selected {
    background-color: #2980b9;
    color: White;
}
  
.barbutton:hover,
.barbutton:active {
    text-decoration: none;
    background-color: #2980b9;
    color: White;
}

.barbutton {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.bar-block {
    .bar-item {
        width:100%;
        display:block;
        padding:8px 16px;
        text-align:left;
        border:none;
        white-space:normal;
        float:none;
        outline:0
    }
} 

.contain {
    margin-left: 20%!important;
    height: 100%;
    background: #ecf0f1;

    .heading {
        font-size: 45px;
        background: #34495e;
        color: white;
    }

    .content {
        font-size: 18px;
        h3 {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        button {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}


